<!-- <div class="sidenav">
    <a routerLink="/overview">Overview</a>
    <a routerLink="/management">Management</a>
    <a routerLink="/translation">Translation</a>
    <a routerLink="/create">Create</a>
    <a routerLink="/history">History</a>
  </div> -->

<div class="topnav sidebar-bg">
  <a routerLink="/overview" routerLinkActive="active">Overview</a>
  <a routerLink="/management" routerLinkActive="active">Management</a>
  <a routerLink="/translation" routerLinkActive="active">Translation</a>
  <a routerLink="/create" routerLinkActive="active">Create</a>
  <a routerLink="/history" routerLinkActive="active">History</a>
</div>
